{% extends "base.html.twig" %}

{% block title %}News{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>News</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for newsEntity in news %}
            <tr>
                <td>{{ newsEntity.id }}</td>
                <td>{{ newsEntity.title }}</td>
                <td>{{ newsEntity.content }}</td>
                <td>{{ newsEntity.author.firstName }} {{ newsEntity.author.lastName }}</td>
                <td>
                    <a href="/news/edit?id={{ newsEntity.id }}" class="btn btn-primary">Edit</a>
                    <a href="/news/delete?id={{ newsEntity.id }}" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="/news/add" class="btn btn-primary">Add News</a>
    <a href="/" class="btn btn-primary">Home</a>
{% endblock %}